*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    width: 100vw;
    background: url("https://placehold.it");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #fff;
}

.album-img{
    background: url("https://placehold.it/250") no-repeat center center / cover;
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.container h1{
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.container p{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

#audio-visual{
    height: 60px;
    width: 50%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#audio-visual .audio-wire{
    height: 100%;
    margin: 0px 3px;
    padding: 0px 1px;
    background-color: rgb(221, 221, 221);
    animation: animateUpDown .4s infinite alternate;
    animation-play-state: paused;
}

#audio-visual .audio-wire-1{
    animation-delay: 50ms;
}
#audio-visual .audio-wire-2{
    animation-delay: 70ms;
}
#audio-visual .audio-wire-3{
    animation-delay: 90ms;
}
#audio-visual .audio-wire-4{
    animation-delay: 110ms;
}
#audio-visual .audio-wire-5{
    animation-delay: 130ms;
}
#audio-visual .audio-wire-6{
    animation-delay: 150ms;
}
#audio-visual .audio-wire-7{
    animation-delay: 170ms;
}
#audio-visual .audio-wire-8{
    animation-delay: 190ms;
}
#audio-visual .audio-wire-9{
    animation-delay: 210ms;
}
#audio-visual .audio-wire-10{
    animation-delay: 230ms;
}
#audio-visual .audio-wire-11{
    animation-delay: 250ms;
}
#audio-visual .audio-wire-12{
    animation-delay: 270ms;
}
#audio-visual .audio-wire-13{
    animation-delay: 290ms;
}
#audio-visual .audio-wire-14{
    animation-delay: 310ms;
}
#audio-visual .audio-wire-15{
    animation-delay: 330ms;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

#song-current-time{
    position: absolute;
    left: -50px;
}

#song-duration{
    position: absolute;
    right: -50px;
}

.slider{
    min-width: 200px;
    max-width: 700px;
    width: 40%;
    height: 4px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.range{
    position: absolute;
}

#progress{
    appearance: none;
    width: 100%;
    height: 4px;
    background: rgb(70,70,70);
    border-radius: 4px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
}

#progress::-moz-range-thumb{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
}

#progress2{
    appearance: none;
    width: 100%;
    height: 4px;
    background: rgb(70,70,70);
    border-radius: 4px;
    opacity: 0;
}

#progress2:hover{
    opacity: 1;
}

#progress2::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
}

#progress2::-moz-range-thumb{
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
}

#progress2:hover::-webkit-slider-thumb{
    opacity: 1;
}

#progress2::-moz-range-thumb{
    opacity: 1;
}

.controls{
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10vh;
    margin-top: 20px;
    gap: 15px;
}

.controls .button{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(180, 180, 180);
}

#forwardIcon:hover{
    color: rgb(255, 255, 255);
}

#backwardIcon:hover{
    color: rgb(255, 255, 255);
}

#playIcon{
    position: relative;
    left: 1px;
    top: 1px;
}

#playButton{
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

#playButton:hover{
    transform: scale(1.02);
}

@keyframes animateUpDown{
    to{
        height: 100%;
    }
    from{
        height: 40%;
    }
}